.mainStyle{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foodItem {
  border-radius:  16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  background-color: #173F4E;
  padding: 10px;
  margin-top: 15px; 
  width: 40vh;
  }

  .foodBox{
    padding-left: 0px;
  }
  
 
  .delete {
    border-radius: 16px;
    font-size: 10px;
    margin-left: auto;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    
  }
  
  .delete:hover {
    background-color: #ff0000;
  }
  