
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weekContainer {
    margin-top: 40px;
    margin-bottom: 25px; 
    
  }

option{
color: #a65111;
}
  
  .dayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 16px; 
    background-color: #173F4E;
    padding: 10px;
    margin-top: 15px; 
}

h1{
    margin-bottom: 7px;
}  
  
