.mainMenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weekContainer {
  margin-top: 40px;
  margin-bottom: 25px; 
  width:fit-content;
  border: 4px solid #a3612e;
  border-radius: 16px;
  background-color: #a3612e93;
  padding: 20px;
}

.dayGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.option {
  color: #a65111;
}

.dayContainer {
  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
  border-radius: 16px; 
  background-color: #173F4E;
  padding: 10px;
  margin-top: 15px; 
}

h1, h2, h3, h4 {
  margin: 5px 0;
}

h3{
  text-align: left;
}



.smallFoodBox{
  padding: 5px;
  border: 1px solid #0e262e;
  background-color: #0e262e;
  border-radius: 10px;
  
}

.noMenuStyle{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30%;
}

.menuButtons{
  display: flex;
  flex-direction: column;
}
.mainButton{
  background-color: #a65111;
  border-color: #a65111;
}
.mainButton:hover{
  color: azure;
}