a, a:link{
    color: azure;
}

.logo{
    margin-top: 0px;
    font-size: 40px;
    margin-bottom: 5%;
}
.slogan{
    margin-bottom: 5%;
    font-size: 30px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.homeStyle{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin-top: 10px;
    
    
}


.loginButton{
    border: 1px solid #ffba00;
    border-radius: 16px;
    padding: 7px;
    margin-top: 20px;
    width: 20vh;
    text-align: center;
    background-color: #ffba00 ;
    color: azure;
    display: inline-block;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
}

.registerButton{
    border: 1px solid #b46617;
    border-radius: 16px;
    padding: 7px;
    width: 20vh;
    margin-top: 20px;
    text-align: center;
    background-color: #b46617 ;
    color: azure;
    display: inline-block;
    box-shadow: 0px 0px 30px 7px rgba(0,0,0,0.75);
}

.registerButton:hover, .loginButton:hover{
    cursor: pointer;
    font-weight: 700;
    transform:scale(1.05);
}

.frame{
    background-image: url('../images/transparent-salad-vegetables-fresh-fruits-and-vegetables-healt-colorful-fresh-fruits-and-vegetables-arranged-arti65b4873a24b031.0247198517063299141503.png');
    background-size:cover;
    background-repeat: no-repeat;
    width: 110vh;
    padding-bottom: 400px;
    background-position: 50% 90%;
    z-index: -10;
    
}

